div.Row {
  display: flex;
  flex-direction: row;
  justify-content:space-between; 
}
div.item {
  flex-direction: column;
  flex: 1;
  align-items: center;
}
div.text{
  align-items: center;
  width: 100%;
  display: flex;
justify-content:space-around;
}

div.item2 {
  padding-top:10px;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid #1C7D9D;
  border-radius: 5px;
}
div.filterPanel{
  width: 100%;
  display: flex;
justify-content:space-around;
  /*border: 1px solid #1C7D9D;*/
  border-radius: 5px;
  padding: 10px;
  align-items: center;
}