.signin-form {
    margin-bottom: 40px;
  }
  
  .signin-control {
    margin: 20px 0;
  }
  
  .signin-control label {
    display: block;
  }
  
  .signin-control input {
    width: 80%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }
  
  .signin-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .signin-control-check label {
    flex: 1;
  }
  
  .signin-control-check input {
    flex: 2;
    height: 20px;
  }
  

  
